{{>header}}
{{>menu}}
<table >
    <thead>
        <tr>
            <th>ID</th>
            <th>Curso</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody id="interesado"></tbody>
</table>
{{>footer}}