{{>header}}
{{>menu}}
{{{listar}}}
<form action="./eliminar" method="POST">
    <input id="txtNombre" name="id">
</form>
<script type="text/javascript">

 $('.btn-group-toggle').on('click', function(){
        let row = $(this).closest('tr');
        let id =row.find('.id').text();
        $('#txtNombre').val(id);      
        '<h1>hola</h1>'
    });
</script> 
{{err}}
{{>footer}}